body {
   color: black;
   background-image: linear-gradient(to bottom right, rgb(166, 237, 188), rgb(254, 254, 254));  
   min-height: 100vh;
   font-family: Arial, Helvetica, sans-serif ;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 22px;
}

a {
    color: black;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid rgb(142, 230, 183);
}

.logo img {
  
    display: block;
    margin-left: auto;
    margin-right: auto
    
}

.center {
    text-align: center;
}

footer img {
    width: 60px;
    height: 60px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    pad: 0px 50px;
    color: black;
}

nav a:hover {
    color: rgb(6, 182, 20);
    
}
a:active {
    background-color: rgb(97, 252, 95);
    border-radius: 80%;
    
  } 

.contact-form input {
    width: 100%;
    padding: 8px 2px ;
    margin: 8px 0px;
}

.contact-form input [type=text] {
    height: 1000px;
    width: 1000px;
}

button  {
    background-color: rgb(142, 230, 183);
    border-style: black;
    width: 100px;
    height: 30px;
    color: rgb(17, 17, 17);
    
}

.proj {
    text-align: center;
}
